<b>Q.1. What are keywords in python? Using the keyword library, print all the python keywords.</b>

Ans:<br>
Keywords are the reserved words in python.<br>
We can't use a keyword as variable name, function or any other identifier.<br>
keywords are case sensitive.<br>

In [11]:
import keyword
key_list = keyword.kwlist
print(key_list)
print("Number of keywords: ",len(key_list))

# To check keyword in python
print("True is a keyword in python: ",keyword.iskeyword("True"))
print("true is a keyword in python: ",keyword.iskeyword("true"))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Number of keywords:  35
True is a keyword in python:  True
true is a keyword in python:  False

<b>2. What are the rules to create variables in python?</b>

Ans : Rules to create a variable in python,<br>
<ul>
<li>Variables ca be the combination of letters in lowercase (a-z) or uppercase (A-Z) or digit or an underscore.</li>
<li>An identifier can't start with a digit, '1var' is invalid but 'var1' is valid.</li>
<li>keywords can't be used by variables.</li>
<li>Symbols are not allowed for defining a variables. symbols like !,@,#,$,%,^,&,*,ect<li>
</ul>

<b>3. What are the standards and conventions followed for the nomenclature of variables in
python to improve code readability and maintainability?<b>

There are four naming convention of variables in python to improve code readability and maintainability.<br>
<ol>
<li>Pascal case : In pascal case, the first character of a variable is in uppercase along with first letter of every new word appended. This is used to define python classes.
<ul><li>Eg : **MaxNumInList** = max([1,2,3,4,5,6])</li></ul></li>
<li>Camel case : It is very similar to the pascal case but it drops the first letter capitalize. This is not very much used in python.<ul><li>Eg : **maxNumInList** = max([1,2,3,4,5,6])</li></ul></li>
<li>Snake case : Here all the words are in lowercase and seperated by underscore. It is mostly used to define functions in python.
<ul><li>Eg : def sort_a_list():</li></ul>
 </li>
</ol>

<b>4. What will happen if a keyword is used as a variable name?</b>

Ans:<br>
Python compiler knows the reserved keywords in python. So when we use keyword as variable name, it creates an ambiguity for a compiler and it raises an syntaxError.

<b>5. For what purpose def keyword is used?</b>

Ans : def is keyword and it is used to define function in python.<br>
Eg: def evenOdd(n):<br>
&emsp; return n%2==0<br>
In the above code snippet, def is followed by evenOdd (it is the function name).

<b>6. For what purpose def keyword is used '\\'?</b>

Ans : Backslash '\\' is a special character in python also known as escape symbol. It is used to represent whitespace character. Also used in prefixing a special character with "\" turns it into an normal character.<br>

In [13]:
# represent as whitespace characters

print('Good\thappy')    # tab space
print("Gaming\nmobile") # newline character

Good	happy
Gaming
mobile

In [14]:
# Used in prefixing
print("\"Happy\"")           # prefixing \"      \" to print Happy in double quotation
print('It\'s a rainy day')   # prefixing after it to make ' normal character

"Happy"
It's a rainy day

<b>7. Give an example of the following conditions:<br>
 (i) Homogeneous list <br>
(ii) Heterogeneous set <br>
(iii) Homogeneous tuple <br></b>

Ans : <br>
Homogeneous : A datastructure containing elements of same type is called Homongeneous datastructure.<br>
Homogeneous : A datastructure containing elements of atleast one different type is called Heterogeneous datastructure.<br>

In [15]:
list1 = [9,8,4,1,5,7,2]   # Homogeneous list : containing all elements of type int
set1 = {"abc",1,"cde",78.94,"pqr","xyz",1+2j,78.94}  # Heterogeneous set : containing elements of different type
tup1 = ('a','1','b','2','c','3')  # Homogeneous tuple : containing elements of same type characters/strings

print(list1)
print(set1)
print(tup1)

[9, 8, 4, 1, 5, 7, 2]
{1, 'cde', 'pqr', 'abc', (1+2j), 'xyz', 78.94}
('a', '1', 'b', '2', 'c', '3')

<b>8. Explain the mutable and immutable data types with proper explanation & examples.</b>

Ans : <br>
mutable : Mutable is the property that allow us to change object data or value after creation or defintion.<br>
Eg of mutable objects : list, set, dict.
immutable : Immutable is the property that strictly don't allow us to change the object data or value after creation or definition.
Eg of immutable data structures : string, tuple, frozenset, int, float etc.

In [17]:
# mutable example
list2 = [1,2,3,4,5]
list2.append("abc")  # append to the list
list2[2]=100         # replace the value at index 2
print(list2)

[1, 2, 100, 4, 5, 'abc']

In the above example, we can see that list2 elements are modified / changed with some values. It didn't raise any error.

In [18]:
# immutable example
t2 = (1,2,3,4)
t2[2] = 100

TypeError: ignored

In [19]:
str1 = "technology"
str1[2] = 'm'

TypeError: ignored

In [23]:
fs = frozenset([2,3,7,7,7,11,13])
print(fs)
fs.add(100)

frozenset({2, 3, 7, 11, 13})

AttributeError: ignored

In the above three examples we can see that modifing the object is raising the errors. It is restrictly not allowed to change the object data. Hence they are called immutable objects.

<b>9. Write a code to create the given structure using only for loop.</b>

In [33]:
"""
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

"""
n = int(input("Enter a number: "))
st = 1
sp = n-1
for i in range(0,n,1):
  # print spaces first
  for j in range(0,sp,1):
    print(" ",end=" ")

  #print stars
  for j in range(0,st,1):
    print("*",end=" ")

  for j in range(0,sp,1):
    print(" ",end=" ")
  print()
  sp-=1
  st+=2

Enter a number: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

<b>10. Write a code to create the given structure using while loop.</b>

In [40]:
"""

| | | | | | | | |
  | | | | | | |
    | | | | |
      | | |
        |

"""

n = int(input("Enter a number: "))
st = 2*n-1
sp = 0
while(n>0):
  # print spaces first
  x = sp
  while(x>0):
    print(" ",end=" ")
    x-=1

  #print stars
  y = st
  while(y>0):
    print("|",end=" ")
    y-=1;
  x = sp
  while(x>0):
    print(" ",end=" ")
    x-=1
  print()
  sp+=1
  st-=2
  n-=1

Enter a number: 5
| | | | | | | | |
  | | | | | | |
    | | | | |
      | | |
        |