<b>1. What exactly is []? </b>

Ans: [] is an empty list. Empty list is list having 0 or no elements in it. Length of this list is always 0.

<b>2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)</b>

Ans: <br>
1st way : spam.insert(3,"hello") # It inserts the element at the 3rd location. Importantly python follows 0 indexing.<br>
2nd way : Replacing the third value in the spam list with hello
hello[2]='hello'

In [2]:
#1st way
spam = [2, 4, 6, 8, 10]
print(spam)
spam.insert(2,'hello')
print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 6, 8, 10]

In [3]:
# 2nd way
spam = [2, 4, 6, 8, 10]
print(spam)
spam[2] = 'hello'
print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]

<b>Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.</b>

<b>3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?</b>

Ans: lets expand spam[int(int('3'*2)/11)]<br>
<ul>
<li>Firstly * and / are left associative and having same precedence</li>
<li>'3'*2 = '33' &emsp; ---> &emsp; type casting it to the int int('33') becomes integer 33.</li>
<li>spam[int(33/11)] = spam[int(3)] = spam[3].</li>

<li>It prints 4th element in the spam list which is 'd'</li>
</ul>

<b>4. What is the value of spam[-1]?</b>

Ans : spam[-1] prints the last element in the last which is 'd'.<br>

<b>5. What is the value of spam[:2]?</b>

Ans : <br>
Basically a list can be traversed in the below way using below syntax.<br>
spam[start_index : end_index : stepsize], it prints all the elements from start index to end-1 index with the step size.<br>
In our case it prints ['a',&nbsp; 'b']

<b>Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.</b>

<b>6. What is the value of bacon.index(&#39;cat&#39;)?</b>

Ans: It returns the index of first occurrence of the element cat in the list.<br>
In our case it return 1.<br>

<b>7. How does bacon.append(99) change the look of the list value in bacon?</b>

Ans: append method push the elements to the end of the list.<br>

In our case, after the operation bacon.append(99). It becomes [3.14, 'cat', 11, 'cat', True, 99]. </br>

<b>8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?</b>

Ans : remove method removes the first occurrence target element from the list and it returns none.</br>
In ourcase it returns [3.14, 11, 'cat', True]. <br>

<b>9. What are the list concatenation and list replication operators</b>

Ans : list concatenation is to concatnate two or more list using the **"+"** operator and return the result list.<br>
whereas the replication operator replicates the elements with specified number of times and returns the result list. <br>

In [14]:
#list concatenation
list1 = ['a','b','c','d']
list2 = [1,2,3,4,5]

list3 = list1+list2
print(list3)

#list replication
list4 = ['m','n',10,11]
list5 = list4*2
print(list5)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]
['m', 'n', 10, 11, 'm', 'n', 10, 11]

<b>10. What is difference between the list methods append() and insert()?</b>

Ans:<br>
**append()** : this method pushes or appends the element to the end of the list / next to the current last element in the list.<br>
eg: a = [1,2,3] &ensp;-->&ensp; a.append('h') &ensp;-->&ensp; the resulting list becomes [1,2,3,'h'].<br>
**insert(pos,element)** : this method inserts the element to the speicified position in the list. It adjusts the index of the following elements.<br>
eg: a = [1,2,3] &ensp;-->&ensp; a.insert(1,'h') &ensp;-->&ensp; the resulting list becomes [1,'h',2,3].<br>

<b>11.What are the two methods for removing items from a list?</b>

Ans : del and remove are the two methods for removing any specific item from a list.

<b>12. Describe how list values and string values are identical.</b>

Ans :<br>
list values and string values are identical in the following manner.<br>
<ul>
<li>indexing is similiar in list and string.</li>
<li>len() function can be used find the length of the string and list.</li>
<li>"in" operator can be used for both strings and lists to find the whether the element exist in the list or not.</li>
<li> "not in" operator for both list and string.</li>
<li> "index()" return first occurrence of element in both list and string.</li>
</ul>

<b>13. What&#39;s the difference between tuples and lists?</b>

Ans: <br>
The major difference between list and tuple is list is mutable where as tuples immutable (not mutable).

<b>14. How do you type a tuple value that only contains the integer 42?</b>

Ans : t = (42,)

<b>15: How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?</b>

Ans :<br>
list() function is used to convert a tuple to list.<br>
tuple() function is used to convert a list to tuple. <br>

<b>16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?</b>

Ans : A variable containing list values are not necessarily lists because they contain reference to the list.

<b>17. How do you distinguish between copy.copy() and copy.deepcopy()?</b>

Ans: copy.copy() does shallow copy of the data. In shallow copy the variables always refer to the same data, change in one variable will reflect in all variables.<br>
copy.deepcopy() does deep copy of the data. In deep copy a new variable is created data is copied to the variable, change in one variable is not reflected in other variables.<br>

Eg is shown below

In [31]:
# shallow copy
import copy
a = [1,2,3,4,[5,6]]
b = copy.copy(a)
b[4][0]="happy"     # change in b reflects in a also.
print(a)
print("address of a[4][0] is :",id(a[4][0]))
print("address of b[4][0] is :",id(b[4][0]))
print(id(a[4][0])==id(b[4][0]))

[1, 2, 3, 4, ['happy', 6]]
address of a[4][0] is : 132615942387184
address of b[4][0] is : 132615942387184
True

In [33]:
# deep copy
import copy
c = [1,2,3,4,[5,6]]
d = copy.deepcopy(c)
d[4][0]="happy"     # change in d doesn't reflects in c.
print(c)
print("address of c[4][0] is :",id(c[4][0]))
print("address of d[4][0] is :",id(d[4][0]))
print(id(c[4][0])==id(d[4][0]))

[1, 2, 3, 4, [5, 6]]
address of c[4][0] is : 132616849129840
address of d[4][0] is : 132615942387184
False